<!DOCTYPE html>
<html ng-app="interestApp">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Investment Calculation App</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">
        
        <link rel="stylesheet" href="css/main.css">

        <script src="js/angular-min.js"></script>
        <script src="js/script.js"></script>
        
    </head>
    
    <body>
        
        <header>
            <h1>Calculate your investment</h1>
        </header>

        <section class="container" ng-controller="InterestCalculatorController as interestCtrl">

            <p>Enter below the amount you would like to invest.</p>

            <span class="error" ng-hide="errorHidden">Please enter a valid integer</span>

            <form>
                <label for="balance">Your Investment Value</label>
                <input type="number" id="balance" name="balance" ng-model="balance" ng-required="required" ng-keypress="filterValue($event)" />
            </form>
            
            <p ng-hide="totalHidden" class="total">Your current balance with our standard interest is <strong ng-model="total" ng-bind="calculateTotalBalance()"></strong>.</p>

            <a href="#" ng-click="moreInterest()" ng-hide="newHidden">Add new variable interest rate?</a>

            <div ng-hide="interestHidden">
                
                <header>
                    <h2>Variable interest rate</h2>
                </header>
                
                <form>
                    <label for="interest">Interest Rate(%)</label>
                    <input type="number" id="interest" name="interest" ng-model="interest" ng-keypress="filterValue($event)" />
                </form>

            </div>
            
            <p ng-hide="varHidden" class="total">Your current balance with the new variable rate interest is <strong ng-bind="calculateVariableTotalBalance()"></strong>.</p>

        </section>

    </body>
    
</html>
